.container {
  position: absolute;
  width: 22rem;
  background-color: #242526;
  border-radius: 10px;
  z-index: 100;
  bottom: 10px;
  top: 4.5rem;
  right: 1rem;
  overflow-y: auto;

  ::-webkit-scrollbar {
    min-width: 1px;
    min-height: 1px;
  }

  .wrapper_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;

    .heading {
      flex: 1;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .actions {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    .action {
      margin-left: 0.5rem;
      padding: 0.5rem;
      border-radius: 10rem;

      &:hover {
        background-color: #3a3b3c;
      }
    }
  }

  .wrapper_search {
    padding: 0 1rem;
    .input {
      padding: 3px 0.5rem;
    }
  }

  .wrapper_listChat {
    height: 100%;
    overflow-y: auto;
    padding: 1rem 0.5rem;
  }

  .wrapper_footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    background-color: #242526;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #3a3b3c;
    border-radius: 0 0 10px 10px;

    .text {
      color: #4499ff;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
